---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=USD&ids=BTC,ETHinvalid&key=<api_key>&per-page=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"41143.96399379","price_date":"2022-03-21T00:00:00Z","price_timestamp":"2022-03-21T19:54:00Z","circulating_supply":"18989950","max_supply":"21000000","market_cap":"781321819044","market_cap_dominance":"0.4056","num_exchanges":"414","num_pairs":"86276","num_pairs_unmapped":"7416","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"67598.44107607","high_timestamp":"2021-11-08T00:00:00Z","1d":{"volume":"30477400341.74","price_change":"-207.38784343","price_change_pct":"-0.0050","volume_change":"5169202431.21","volume_change_pct":"0.2043","market_cap_change":"-3902350452.55","market_cap_change_pct":"-0.0050"},"7d":{"volume":"213266693398.34","price_change":"1414.90366700","price_change_pct":"0.0356","volume_change":"-23951149698.01","volume_change_pct":"-0.1010","market_cap_change":"27129453339.68","market_cap_change_pct":"0.0360"},"30d":{"volume":"1026277393508.30","price_change":"1028.14186594","price_change_pct":"0.0256","volume_change":"44470124253.78","volume_change_pct":"0.0453","market_cap_change":"20606767739.83","market_cap_change_pct":"0.0271"},"365d":{"volume":"19629994771685.13","price_change":"-16076.07227272","price_change_pct":"-0.2810","volume_change":"5117265829966.37","volume_change_pct":"0.3526","market_cap_change":"-286426545163.53","market_cap_change_pct":"-0.2683"},"ytd":{"volume":"2595620574825.25","price_change":"-6213.03565263","price_change_pct":"-0.1312","volume_change":"-883607283510.29","volume_change_pct":"-0.2540","market_cap_change":"-114492326168.83","market_cap_change_pct":"-0.1278"}}]

        '
  recorded_at: Mon, 21 Mar 2022 19:55:22 GMT
recorded_with: VCR 6.1.0
