---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=USD&ids=BTCInvalid,ETH&key=<api_key>&per-page=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","platform_currency":"ETH","price":"2913.23417756","price_date":"2022-03-21T00:00:00Z","price_timestamp":"2022-03-21T19:54:00Z","circulating_supply":"120055021","market_cap":"349748390545","market_cap_dominance":"0.1816","num_exchanges":"458","num_pairs":"81763","num_pairs_unmapped":"61678","first_candle":"2015-08-07T00:00:00Z","first_trade":"2015-08-07T00:00:00Z","first_order_book":"2018-08-29T00:00:00Z","rank":"2","rank_delta":"0","high":"4811.65907276","high_timestamp":"2021-11-08T00:00:00Z","1d":{"volume":"19918791053.66","price_change":"40.09720038","price_change_pct":"0.0140","volume_change":"2865552087.37","volume_change_pct":"0.1680","market_cap_change":"4853060901.76","market_cap_change_pct":"0.0141"},"7d":{"volume":"127094427406.93","price_change":"320.04857825","price_change_pct":"0.1234","volume_change":"15805324646.99","volume_change_pct":"0.1420","market_cap_change":"38668647515.30","market_cap_change_pct":"0.1243"},"30d":{"volume":"608242105886.87","price_change":"146.57035759","price_change_pct":"0.0530","volume_change":"-91919349824.47","volume_change_pct":"-0.1313","market_cap_change":"18721392413.97","market_cap_change_pct":"0.0566"},"365d":{"volume":"14763763807859.12","price_change":"1133.02672865","price_change_pct":"0.6365","volume_change":"7260769544727.05","volume_change_pct":"0.9677","market_cap_change":"144766780132.08","market_cap_change_pct":"0.7062"},"ytd":{"volume":"1700666040826.71","price_change":"-919.45118028","price_change_pct":"-0.2399","volume_change":"-654228717861.87","volume_change_pct":"-0.2778","market_cap_change":"-106234727134.43","market_cap_change_pct":"-0.2330"}}]

        '
  recorded_at: Mon, 21 Mar 2022 19:55:20 GMT
recorded_with: VCR 6.1.0
