---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=USD&ids=ETH,BTC&key=<api_key>&per-page=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"41038.60716036","price_date":"2022-03-21T00:00:00Z","price_timestamp":"2022-03-21T12:44:00Z","circulating_supply":"18989700","max_supply":"21000000","market_cap":"779310838393","market_cap_dominance":"0.4063","num_exchanges":"414","num_pairs":"86272","num_pairs_unmapped":"7417","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"67598.44107607","high_timestamp":"2021-11-08T00:00:00Z","1d":{"volume":"26704775724.89","price_change":"-728.34302689","price_change_pct":"-0.0174","volume_change":"-3733500304.57","volume_change_pct":"-0.1227","market_cap_change":"-13792088780.15","market_cap_change_pct":"-0.0174"},"7d":{"volume":"208776442585.49","price_change":"1309.54462821","price_change_pct":"0.0330","volume_change":"-28441399471.47","volume_change_pct":"-0.1199","market_cap_change":"25128839838.09","market_cap_change_pct":"0.0333"},"30d":{"volume":"1021787209637.90","price_change":"922.78503251","price_change_pct":"0.0230","volume_change":"39979940385.60","volume_change_pct":"0.0407","market_cap_change":"18607541024.88","market_cap_change_pct":"0.0245"},"365d":{"volume":"19625503354728.52","price_change":"-16181.42910616","price_change_pct":"-0.2828","volume_change":"5112774413009.76","volume_change_pct":"0.3523","market_cap_change":"-288418585982.36","market_cap_change_pct":"-0.2701"},"ytd":{"volume":"2591130391125.26","price_change":"-6318.39248607","price_change_pct":"-0.1334","volume_change":"-888096233953.67","volume_change_pct":"-0.2553","market_cap_change":"-116503306819.66","market_cap_change_pct":"-0.1301"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","platform_currency":"ETH","price":"2895.90489889","price_date":"2022-03-21T00:00:00Z","price_timestamp":"2022-03-21T12:44:00Z","circulating_supply":"120051074","market_cap":"347656493673","market_cap_dominance":"0.1813","num_exchanges":"458","num_pairs":"81739","num_pairs_unmapped":"61642","first_candle":"2015-08-07T00:00:00Z","first_trade":"2015-08-07T00:00:00Z","first_order_book":"2018-08-29T00:00:00Z","rank":"2","rank_delta":"0","high":"4811.65907276","high_timestamp":"2021-11-08T00:00:00Z","1d":{"volume":"17865[...]
