---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?convert=USD&ids=BTC,XRP,ETH&key=<api_key>&per-page=100
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '3'
    body:
      encoding: UTF-8
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"41203.15752882","price_date":"2022-03-21T00:00:00Z","price_timestamp":"2022-03-21T12:38:00Z","circulating_supply":"18989700","max_supply":"21000000","market_cap":"782435600525","market_cap_dominance":"0.4061","num_exchanges":"414","num_pairs":"86272","num_pairs_unmapped":"7417","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"67598.44107607","high_timestamp":"2021-11-08T00:00:00Z","1d":{"volume":"26643836538.02","price_change":"-563.79265843","price_change_pct":"-0.0135","volume_change":"-3794814040.97","volume_change_pct":"-0.1247","market_cap_change":"-10666574843.12","market_cap_change_pct":"-0.0134"},"7d":{"volume":"208776442585.49","price_change":"1474.09499667","price_change_pct":"0.0371","volume_change":"-28441399471.47","volume_change_pct":"-0.1199","market_cap_change":"28253601970.02","market_cap_change_pct":"0.0375"},"30d":{"volume":"1021787209637.90","price_change":"1087.33540097","price_change_pct":"0.0271","volume_change":"39979940385.60","volume_change_pct":"0.0407","market_cap_change":"21732303156.81","market_cap_change_pct":"0.0286"},"365d":{"volume":"19625503354728.52","price_change":"-16016.87873770","price_change_pct":"-0.2799","volume_change":"5112774413009.76","volume_change_pct":"0.3523","market_cap_change":"-285293823850.43","market_cap_change_pct":"-0.2672"},"ytd":{"volume":"2591130391125.26","price_change":"-6153.84211761","price_change_pct":"-0.1299","volume_change":"-888096233953.67","volume_change_pct":"-0.2553","market_cap_change":"-113378544687.73","market_cap_change_pct":"-0.1266"}},{"id":"ETH","currency":"ETH","symbol":"ETH","name":"Ethereum","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/eth.svg","status":"active","platform_currency":"ETH","price":"2908.38967040","price_date":"2022-03-21T00:00:00Z","price_timestamp":"2022-03-21T12:38:00Z","circulating_supply":"120050809","market_cap":"349154532453","market_cap_dominance":"0.1812","num_exchanges":"458","num_pairs":"81739","num_pairs_unmapped":"61642","first_candle":"2015-08-07T00:00:00Z","first_trade":"2015-08-07T00:00:00Z","first_order_book":"2018-08-29T00:00:00Z","rank":"2","rank_delta":"0","high":"4811.65907276","high_timestamp":"2021-11-08T00:00:00Z","1d":{"volume":"17829[...]
